

/* Banner 1 */



.banner1section {
    background-image: url(/imagenes/slide4.jpg);
    height: 2rem;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 210px 0;
    color: whitesmoke;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.212);
    clip-path: circle(49.9% at 50% 50%);
}



/* Precios */


.priceTable {
    width: 100%;
    border-collapse: collapse; 
}


.container {
    width: 100%;
    padding: 0 15px; /* Ajuste opcional para el espaciado horizontal */
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el ancho */
}

.priceTable th, .priceTable td {
    border: 1px solid #ddd;
    padding: 20px;
}
.priceTable th {
    background-color: whitesmoke;
    color: black;
    font-family: "Alfa Slab One", serif;
}
.priceTable td {
    background-color: black;
    color: whitesmoke;
    position: relative;
    font-family: "Inconsolata", monospace;
}
.priceTable .hoverDetails {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    color: black;
    padding: auto;
    border-radius: auto;
    width: auto;
    z-index: 10;
}
.priceTable td:hover .hoverDetails {
    display: block;
}