/* Media queries for responsiveness */

/* Pantallas grandes (>= 1200px y < 1400px) */
@media (min-width: 1200px) and (max-width: 1399px) {
    .banner1section h1 {
        font-size: 5rem;
    }

    .banner1section h3 {
        font-size: 2.5rem;
    }
}

/* Pantallas medianas (>= 992px y < 1200px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .banner1section h1 {
        font-size: 5rem;
    }

    .banner1section h3 {
        font-size: 2.5rem;
    }
    
    /* Acerca de nostros */

    .aboutUs {
        color: whitesmoke;
        border: 3px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}

    /* Formulario */
    .formContainer {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
        border: 1px solid whitesmoke;
        padding: 20px 20px;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p {
            color: whitesmoke;
        }
}    

}




/* Pantallas pequeñas (>= 768px y < 992px) */
@media (min-width: 768px) and (max-width: 991px) {
    .banner1section h1 {
        font-size: 5rem;
    }

    .banner1section h3 {
        font-size: 1.8rem;
    }

    /* Acerca de nostros */

    .aboutUs {
        color: whitesmoke;
        border: 3px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}

    /* Join US */

    .joinUS {
        color: whitesmoke;
        border: 3px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);        
    }
    

}

    /* Formulario */
    .formContainer {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
        border: 1px solid whitesmoke;
        padding: 20px 20px;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p {
            color: whitesmoke;
        }
}    

/* Pantallas muy pequeñas (>= 576px y < 768px) */
@media (min-width: 576px) and (max-width: 767px) {
    .banner1section h1 {
        font-size: 3rem;
    }

    .banner1section h3 {
        font-size: 1.5rem;
    }
     /* Acerca de nostros */

     .aboutUs {
        color: whitesmoke;
        border: 3px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}
    


    /* Join US */

    .joinUS {
        color: whitesmoke;
        border: 3px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
    }
    
    /* Formulario */
    .formContainer {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
        border: 1px solid whitesmoke;
        padding: 20px 20px;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p {
            color: whitesmoke;
        }
}    
    

}

/* Dispositivos móviles (menores de 576px) */
@media (max-width: 575px) {
    .banner1section h1 {
        font-size: 2.5rem;
    }

    .banner1section h3 {
        font-size: 1.2rem;
    }

     /* Acerca de nostros */

     .aboutUs {
        color: whitesmoke;
        border: 3px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}

     /* Nuestra misión */

    .ourMission {
        color: whitesmoke;
        border: 2px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);

    }

    /* Join US */

    .joinUS {
        color: whitesmoke;
        border: 2px whitesmoke solid;
        padding-bottom: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
    }

    /* Formulario */
    .formContainer {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
        border: 1px solid whitesmoke;
        padding: 20px 20px;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p {
            color: whitesmoke;
        }
}    

.profesoresContainer {
    color: whitesmoke;

    h2 {
        font-family: "Alfa Slab One", serif;   
        text-align: center;  
    }

    p {
        font-size: 1.15rem;
        font-family: "Inconsolata", monospace;
    }

    img {
        height: 31rem;
        width: 100%;
    }
}

/* Conoce a nuestros profesores */

.profesoresContainer {
    font-family: "Inconsolata", monospace;

    img {
        height: 200px;
        border-radius: 40%;
    }
}

}


/* Tabla de precios */

@media (max-width: 768px) {
    .priceTable th, .priceTable td {
        padding: 10px; /* Ajusta el padding para pantallas pequeñas si es necesario */
    }
}