.container-fluid1 {
    background-color: whitesmoke;
    /* padding: 25px 0; */
}

h1 {
    color: #333333;
}

h1 i {
    color:#0e538c;
    font-size: 60px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
}

nav ol {
    list-style-type: none;
    padding: 4%;
    font-weight: 650;
    padding-right: 0px;
    display: flex;
    color: #333333;
}

.btnJoinNow {
    background-color: #0e538c;
    border: none;
    font-weight: 500;
    color: whitesmoke;
    border-radius: 2%;
    padding: 6px 25px;
}

.contenerdorButton1 {
    align-items: center;
    height: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.linea {
    width: 150px; 
    height: 8px; 
    background-color:#0e538c;
    margin-bottom: 10px;
  }

h3 {
    font-size: 2em;
    font-weight: 250;
    margin: 0;
    padding: 0;
    color: #333333;
  }

h2 {
    font-size: 3em;
    font-weight: bold;
    color: #333333;

    strong {
        color:#0e538c;
    }
}

p {
    font-weight: 400;
}

.btnReadMore {
    background-color:#0e538c;
    border: none;
    font-weight: 500;
    color: whitesmoke;
    border-radius: 2%;
    padding: 20px 35px;
}

.container-fluid2 {
    background-image: url(/imagenes/oficina-cartoon.webp); 
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    height: 100vh; 
}

footer {
    background-color:#0e538c;
    height: 60px;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    
    h6 {
        padding-top: 20px;
        font-weight: 180;
    }


}