.bigArticle {
    position: relative; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/imagenes/bookshelf.jpg);
    color: whitesmoke;
    height: 400px;
    background-size: cover;
    background-position: center; 
    overflow: hidden; 
}

