body {
    background-color: #f0f0f0;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 14px;
}

.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background-color: rgb(235, 113, 0); 
    border-radius: 50%; 
}
.icon {
    font-size: 60px;
    color: whitesmoke;
}

h3 {
    padding-top: 10px;
    color: rgb(235, 113, 0); 
}

button {
    background-color: rgb(235, 113, 0);
    padding: 20px 40px;
    border: none;
    border-radius: 2%;
    font-weight: bold;
    color: whitesmoke;
}