
.container1 {
    background-color: rgb(112, 22, 22);
    color: whitesmoke;
    word-spacing: 8px;
    line-height: 2;
}

.container2 {
    background-color: rgb(24, 129, 107);
    color: whitesmoke;
    word-spacing: 8px;
    line-height: 2;
}

.container3 {
    background-color: rgb(184, 105, 1);
    color: whitesmoke;
    word-spacing: 8px;
    line-height: 2;
}